.pagination {
    background-color: transparent;
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Color de fondo para la página activa */
    border-color: #007bff;
    color: #fff /* Color del borde para la página activa */
}

.pagination .page-link {
    color: #007bff; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    border-color: #007bff; /* Color del borde */
}

.pagination .page-link:hover {
    background-color: #007bff; /* Color de fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
    border-color: #007bff; /* Color del borde al pasar el mouse */
}
